In [35]:
import pandas as pd
import numpy as np
import plotly.express as px

In [36]:
df=pd.read_csv('C:\\Users\\Yash Damania\\Documents\\ExploringTheUnseen\\Posts\\1.3_Temperature_Plots\\2020_7cities_temp.csv')
df

,Date,Country,City,Specie,count,min,max,median,variance
0,30-12-2019,IN,Bengaluru,co,232,1.6,28.6,8.6,228.74
1,31-12-2019,IN,Bengaluru,co,217,0.4,29.7,8.9,287.50
2,01-01-2020,IN,Bengaluru,co,180,1.2,40.2,9.8,246.08
3,02-01-2020,IN,Bengaluru,co,192,0.2,60.3,9.3,570.86
4,03-01-2020,IN,Bengaluru,co,237,0.7,86.4,8.0,523.38
...,...,...,...,...,...,...,...,...,...
12200,25-06-2020,IN,Visakhapatnam,temperature,24,27.4,40.2,32.9,161.66
12201,26-06-2020,IN,Visakhapatnam,temperature,24,26.6,40.9,34.4,169.07
12202,27-06-2020,IN,Visakhapatnam,temperature,24,26.9,40.5,33.0,200.34
12203,28-06-2020,IN,Visakhapatnam,temperature,24,26.2,40.7,33.8,188.73
12204,29-06-2020,IN,Visakhapatnam,temperature,13,28.2,40.9,36.4,189.57

In [ ]:
plt.scatter

In [31]:
'''
city=['Delhi','Hyderabad','Mumbai','Chennai','Bengaluru','Kolkata','Visakhapatnam']
gas=['no2','pm25','o3','so2','co','pm10','humidity','pressure','temperature','dew']
df=df[df['City'].isin(city)]
df=df[df['Specie'].isin(gas)]
df.Specie.value_counts()
'''

no2            1278
pm25           1278
o3             1278
so2            1278
co             1264
pm10           1225
humidity       1152
pressure       1151
temperature    1151
dew            1150
Name: Specie, dtype: int64